html,
body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

#prism-svg {
    height: 100vh;
    width: 100vw;
}

#prism-glass {
    filter: drop-shadow(0 0 1pt rgba(255, 255, 255, 0.75));
}

#prism-refraction {
    filter: blur(0.6pt);
}

.glow {
    animation: glow-animation 5s infinite alternate;
}

.draggable {
    cursor: move;
}

.d-none{
    display: none !important;
}

.warning {
    display: block;
    height: 20px;
    color: darkred;
    text-align: center;
}

@keyframes glow-animation {
    from {
        filter: drop-shadow(0 0 5pt rgba(255, 255, 255, 0.75));
    }

    to {
        filter: drop-shadow(0 0 1pt rgba(150, 150, 150, 0.75));
    }
}